$Blue: hsl(223, 87%, 63%);
$PaleBlue: hsl(223, 100%, 88%);
$LightRed: hsl(354, 100%, 66%);
$Gray: hsl(0, 0%, 59%);
$VeryDarkBlue: hsl(209, 33%, 12%);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Libre Franklin", sans-serif;
  height: 100vh;
  font-size: 18px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  text-align: center;
  width: 90%;

  .logo {
    padding-top: 4em;
  }
  h2 {
    padding: 2em 0 1em 0;
    color: $Gray;
    font-weight: 300;
    span {
      color: $VeryDarkBlue;
      font-weight: 700;
    }
  }
  .p1 {
    color: $Gray;
    font-weight: bold;
  }
  form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    input {
      width: 100%;
      margin: 1.2em;
    }
    #email {
      padding: 1em;
      border: 1px solid $PaleBlue;
      border-radius: 25px;
      &::placeholder {
        color: $PaleBlue;
      }
    }
    .error {
      display: none;
      position: absolute;
      left: 3em;
      top: 8.5em;
      color: $LightRed;
      font-style: italic;
      font-size: 12px;
    }
    #notify-me {
      padding: 1em;
      border-radius: 25px;
      border: none;
      background-color: $Blue;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
main {
  img {
    width: 350px;
  }
}
footer {
  margin-top: 5em;
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    a {
      margin: 0.5em;
      border: 1px solid $PaleBlue;
      border-radius: 50%;
      padding: 0.3em 0.5em;
      color: $Blue;
      &:hover {
        background-color: $Blue;
        color: #fff;
      }
      .fa-facebook-f {
        padding: 0.2em;
      }
    }
  }
  .p2 {
    color: $Gray;
    font-size: 14px;
    margin-bottom: 2em;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
  header {
    width: 100%;
    form {
      flex-direction: row;
      #notify-me {
        width: 50%;
      }
    }
  }
  main {
    img {
      width: auto;
    }
  }
}
